* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 40px 20px;
  background-color: #f8fafc;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hidden {
  display: none !important;
}

.not-read {
  color: #ef4444;
  font-weight: 600;
}

/* ================= HEADER   */

.library-container {
  display: flex;
  gap: 60px;
  flex-direction: column;
}

.library-container .library-header h1 {
  letter-spacing: 2px;
  padding-bottom: 15px;
  text-align: center;
  color: #1e293b;
  border-bottom: 5px solid #fdba74;
  border-radius: 50%;
}

.library-container .library-header p {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.library-container .library-header p svg {
  height: 25px;
}

.library-container .library-header p svg:hover {
  fill: #f87171;
  transform: scale(1.2);
}

/* ================= BOOK-ADDER FORM   */

.library-container .book-adder {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.library-container .book-adder form {
  padding: 0 20px;
  width: 80%;
  margin: auto;
  display: flex;
  gap: 30px;
}

.library-container .book-adder form div {
  display: grid;
  gap: 10px;
}

.library-container .book-adder form div:nth-child(-n + 2) {
  flex: 1;
}

.library-container .book-adder form div label {
  letter-spacing: 0.5px;
  font-size: 0.9rem;
}

.library-container .book-adder form div label span {
  color: red;
  font-weight: 700;
}

.library-container .book-adder form div input {
  border: 1.5px solid #94a3b8;
  border-radius: 5px;
  height: 30px;
  outline: none;
  color: #1e293b;
  padding: 10px;
  font-size: 0.8rem;
}

.library-container .book-adder form div:nth-child(4) input {
  width: 100px;
}

.library-container .book-adder form div input:focus {
  border: 1px solid #1e293b;
}

.library-container .book-adder form div select {
  font-family: inherit;
  font-size: 0.8rem;
  padding: 5px;
  color: #1e293b;
  background-color: #eff6ff;
  border: 1.5px solid #94a3b8;
  border-radius: 5px;
  height: 30px;
}

.library-container .book-adder form div:not(:nth-child(4)) input:valid {
  border: 1px solid #4d7c0f;
}

.library-container .book-adder .btn-div {
  margin: auto;
}

.library-container .book-adder div button {
  background-color: #f5d0fe;
  width: 150px;
  outline: none;
  padding: 10px;
  font-family: inherit;
  font-size: 1rem;
  border: 1.5px solid #94a3b8;
  border-radius: 5px;
  cursor: pointer;
  color: #334155;
  font-weight: 600;
}

.library-container .book-adder div button:hover {
  transition-duration: 0.5s;
  translate: 3px;
  scale: 1.1;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* ================= BOOKS-LIBRARY    */

.books-library table {
  border-collapse: collapse;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  margin: auto;
  width: 80%;
}

.books-library table thead {
  border-bottom: 1px solid #94a3b8;
  font-size: 1rem;
}

.books-library table thead th {
  text-align: start;
}

.books-library table td,
.books-library table th {
  padding: 10px 20px;
}

.books-library table tr:not(:last-child) {
  border-bottom: 1px solid #94a3b8;
}

.books-library table .read-btn:hover {
  cursor: pointer;
}

.books-library table .remove-btn {
  background-color: #f87171;
  padding: 8px 13px;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: inherit;
}

.books-library table .remove-btn:hover {
  cursor: pointer;
  scale: 1.1;
  transition-duration: 0.3s;
}
